@import '~react-dates/lib/css/_datepicker.css';
@import '~typeface-open-sans/index.css';

* {
  /* DateRangePicker expects this to be set globally. */
  box-sizing: border-box;
}

body {
  /* Allow the appbar to extend to the edges of the page. */
  margin: 0;
}

/* SingleDatePicker style customizations. */
.DateInput_input__small {
  font-size: 16px;
  padding: 8px 8px 2px 8px;
}

.DateInput__small {
  width: 100px;
}
