/* UW Solar Project global stylesheet definitions.
 *
 * Note: UW brand definitions are available at
 * http://www.washington.edu/brand/graphic-elements/primary-color-palette/.
 */

body {
  font-family: sans-serif;
  font-size: 10pt;
}

.uwsolar-header {
  background-color: #4b2e83;
  color: #fff;
  padding: 8px;
}

.uwsolar-header-title {
  font-size: 16pt;
  font-weight: bold;
}

.uwsolar-footer {
  padding: 8px;
}
